<div class="wrapper wrapper-index " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1530064161350-7824b8cdeee9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=22e0769dd17e74e43f6811717147f96d&auto=format&fit=crop&w=1350&q=80')">
  <div class="container typed">
    <h1 id="banner-typed-text"></h1>
  </div>
  <%= link_to "New cocktail", new_cocktail_path, class: "btn btn-success btn-banner" %>
</div>
<div class="wrapper-title">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
          <% @cocktails.each do |cocktail| %>
            <div class="col-xs-12 col-md-6">
              <div class="card">
                  <div class="flat-card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cocktail.photo %>')">
                    <div class="text"><%= link_to "#{cocktail.name}", cocktail_path(cocktail) %></div>
                  </div>
                <div class="tags">
                    <%= link_to new_cocktail_cocktail_tag_path(cocktail) do %>
                      <i class="fa fa-plus"></i>
                    <% end %>
                  <ul class="list-inline">
                    <% cocktail.tags.each do |tag| %>
                      <li class="list-inline-item" ><%= tag.name %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

